[project]
name = $project

#[ide]
#type  = eclipse

#[build]
#os  = linux | windows| macos
#target = Debug | Release
#bit = 64

#[deps]
# none

#[test]
#include_path = $$ENV{GTEST_ROOT}/include/gtest
#link_path    = $$ENV{GTEST_ROOT}/lib
#lib_name     = gtest