set(PROJECT_NAME "test_$project")

set(TEST_INCLUDE_PATH "$$ENV{GTEST_ROOT}/include")
set(TEST_LIB_PATH "$$ENV{GTEST_ROOT}/lib")
SET(TEST_LIB_NAME "gtest")

project($${PROJECT_NAME})

include_directories("$${CMAKE_CURRENT_SOURCE_DIR}/../include"
                    "$${TEST_INCLUDE_PATH}")

file(GLOB_RECURSE all_files
*.cpp
*.cc
*.c++
*.c
*.C)

link_directories("$${TEST_LIB_PATH}")

add_executable($${PROJECT_NAME} $${all_files})
target_link_libraries($${PROJECT_NAME} $project $${TEST_LIB_NAME})