project(test_$project)

include_directories("$${TEST_INCLUDE_PATH}")

file(GLOB_RECURSE all_files
*.cpp
*.cc
*.c++
*.c
*.C)

link_directories("$${TEST_LIB_PATH}")

add_executable(test_$project $${all_files})

target_link_libraries(test_$project $project $${TEST_LIB_NAME})