#include <gtest/gtest.h>
#include <$project/$project.h>

${project_upper}_NS_BEGIN

std::string sayHello();

${project_upper}_NS_END


TEST(TestSuite, should_say_hello)
{
    ASSERT_EQ("Hello!", ::${project_upper}_NS::sayHello());
}
