set(PROJECT_NAME "test_$project")

project($${PROJECT_NAME})

include_directories("$${CMAKE_CURRENT_SOURCE_DIR}/../include"
                    "$test_include")

file(GLOB_RECURSE all_files
*.cpp
*.cc
*.c++
*.c
*.C)

link_directories("$test_lib_dir")

add_executable($${PROJECT_NAME} $${all_files})
target_link_libraries($${PROJECT_NAME} $project $test_lib)